<div class="jumbotron jumbo_top">
</div>
	<!-- <div class="container">
		<h1>Main Title</h1>
		<h2>Subtitle goes here</h2>
		<p>Polaroid freegan deep v ethical. Shabby chic fanny pack selfies Intelligentsia, XOXO Odd Future roof party hella four loko. Photo booth lomo Carles, wayfarers bitters put a bird on it McSweeney's cold-pressed locavore PBR&B. Blue Bottle fap kale chips cornhole beard normcore, 8-bit shabby chic whatever iPhone jean shorts disrupt cold-pressed. Messenger bag lumbersexual you probably haven't heard of them flexitarian, letterpress bitters tousled synth Bushwick dreamcatcher organic banh mi VHS cliche seitan. Kale chips tofu trust fund, Shoreditch keffiyeh asymmetrical 90's hella meditation sustainable. Lo-fi PBR Vice roof party fingerstache.</p>
	</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag("01image.png", :class => "thumb-icons") %>
				<div class="ribbon-yellow-top top-ribbon"></div>
				<div class="caption caption-yellow">
					<h2>New Products</h2>
					<p>Come in and take a peek at the latest and greatest Swiss Chef's creations. We guarantee that you're mouth will water with these delicious new creations.</p>
					<p class="btn-center"><a href="#" class="btn btn-default" role="button">Read more</a></p>
				</div>
				<div class="ribbon-yellow-btm bottom-ribbon"></div>
			</div>
		</div><!-- End of first thumbnail group -->
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag("02image.png", :class => "thumb-icons") %>
				<div class="ribbon-orange-top top-ribbon"></div>
				<div class="caption caption-orange">
					<h2>Gallery</h2>
					<p>From special occasions to office luncheons, our cakes and special dessert and pastry platters are perfect for every occasion. All treats are made fresh to order, so you know your crowd will be happy (and full).</p>
					<p class="btn-center"><a href="#" class="btn btn-default" role="button">Read more</a></p>
				</div>
				<div class="ribbon-orange-btm bottom-ribbon"></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag("03image.png", :class => "thumb-icons") %>
				<div class="ribbon-teal-top top-ribbon"></div>
				<div class="caption caption-teal">
					<h2>Shop Online</h2>
					<p>Whether you're looking for baked goods, merchandise or bakeware, we have what you need when you need it. Order our stock and customized cakes and baked good online now!</p>
					<p class="btn-center"><a href="#" class="btn btn-default" role="button">Read more</a></p>
				</div>
				<div class="ribbon-teal-btm bottom-ribbon"></div>
			</div>
		</div>

	</div><!-- End of row -->

</div><!-- End of container for thumbnails -->

<!-- Jumbotron -->
<div class="jumbotron jumbo_bottom"><!-- <img src="_img/woman_laptop.jpg"> -->
</div>