// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #f5f6f1;
}

h1, h2, h3 {
	font-family: 'Raleway';
	
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: light;
  font-weight: 300;
}

.navbar-default {
	background-color: none;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
	;

	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

 .navbar-header a {
	font-family: "corner-store",cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
}

/*This section is for the thumbnails*/
.thumb-icons {
	width: 170px;
}

.thumbnail {
	background-color: transparent;
	border: none;
}

.ribbon-yellow-top {
	background-image: url('top-yellow.png');
}

.ribbon-orange-top {
	background-image: url('top-orange.png');
}

.ribbon-teal-top{
	background-image: url('top-teal.png');
}

.ribbon-yellow-btm {
	background-image: url('bottom-yellow.png');
}

.ribbon-orange-btm {
	background-image: url('bottom-orange.png');
}

.ribbon-teal-btm{
	background-image: url('bottom-teal.png');
}

.top-ribbon {
	/*clear: both;*/
	background-position: center bottom;
    background-size: 100% 60px;
    height: 60px;
    width: 100%;
}

.bottom-ribbon {
	/*clear: both;*/
	background-position: center top;
    background-size: 100% 67px;
    height: 67px;
    width: 100%;
}

.caption {
	height: 275px;
}

.caption h2 {
	font-size: 2.5em;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.caption p {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.btn-center {
	text-align: center;
}

.caption-teal {
	background-color: #3dc0b1;
}

.caption-orange {
	background-color: #ff764d;
}

.caption-yellow {
	background-color: #ffbd1a;
}


/*Now for the banner midway down*/

.jumbotron {
	height: 700px;
}

.jumbo_top {
	background-image: url(hero_image2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 0px;
}

/* .jumbo-content {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
} */

.jumbo_bottom {
	background-image: url(cookies_peach.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	margin-top: -50px;
	margin-bottom: 0px;
}

footer {
	margin-top: 0;
	background-color: #eeefe8;
}

.footer {
	padding: 0px 40px 20px;
	padding-bottom: 20px;
}

.credit {
	background-color: #cac5b5;
	padding: 7px;
	margin-bottom: 0px;
}

.credit > p {
	color: #f2f1ed;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.2em;
}

/*Clearfix hack. Add the class when needed*/
/*nav ul::after {
	content: '';
    display: block;
    clear: both;
    
}*/

/* Media Queries here */

@media screen and (max-width: 988px) {
    .hide-ribbon {
        display: none;
    }

    .jumbotron-small {
    	height: 400px;
    }

    .jumbo_top {
		background-size: cover;
	}

	.jumbo_bottom {
		height: 250px;
	}
}

@media screen and (max-width: 768px) {
    .hide-ribbon {
        display: none;
    }

    .jumbotron-small {
    	height: 200px;
    }

    .jumbo_top {
		background-size: contain;
	}

	.small-logo {
		width: 100px;
		height: 100px;
	}
}
